version: '3.9'

services:

  database:
    container_name: dizi-database
    image: postgres:15-alpine
    volumes:
      - dizi_postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5


  backend:
    container_name: dizi-backend
    image: diziizi/dizi-izi-backend:latest
    restart: always
    volumes:
      - dizi_bk_static:/app/static/
      - dizi_bk_media:/app/media/
    env_file:
      - .env
    depends_on:
      - database


  frontend:
    container_name: dizi-frontend
    image: diziizi/dizi-izi-frontend:latest
    volumes:
      - dizi_fr_static:/app/.next/static/
    depends_on:
      - backend


  nginx:
    container_name: dizi-nginx
    image: nginx:1.24-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
      - ./data/log/nginx:/var/log/nginx/
      - dizi_bk_static:/usr/share/nginx/html/bk_static/
      - dizi_bk_media:/usr/share/nginx/html/bk_media/
      - dizi_fr_static:/usr/share/nginx/html/fr_static/
    depends_on:
      - backend
      - frontend
    restart: unless-stopped
#    reload Nginx configurations every 6 hours without interrupting ongoing connections
#    keep the Nginx server running continuously in the container
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"


  certbot:
    container_name: dizi-certbot
    image: certbot/certbot:v2.9.0
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    depends_on:
      - nginx
    restart: unless-stopped
#    automatically renew SSL certificates, attempting renewal every 12 hours
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"


volumes:
  dizi_bk_static:
  dizi_bk_media:
  dizi_fr_static:
  dizi_postgres_data:
    external: true
